/* Header.css */

.header {
    background-color: #333; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
    padding: 10px 0;
    display: flex;
    flex-direction: row;
  }
  
  .nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 800px;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 20px; /* Adjust the spacing between navigation items */
  }
  
  .nav a {
    text-decoration: none;
    color: #fff; /* Change this to your desired link color */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #ff5722; /* Change this to your desired link hover color */
  }
  